* {
    box-sizing: border-box;
}
body {
    font-family: 'roboto';
}

.hero{
     display: flex;
     height: 100vh;
     flex-direction: column;
     padding: 16px 32px 16px 130px;
     background-color: #1F2937;
     /*#483D8B */
     color: white;
 }

.hero-text,
.hero-img {
    flex: 1;
}
.hero-img {
    display: flex;
    justify-content: center;
}
.blue {
    color: #4169E1;
}
.red {
    color: #df1010;
}
 body {
     font-family: 'roboto', sans-serif;
     margin: 0px;
 }

 .hero-img > img{
     width: 375px;
     
 }
 .header {
     display: flex;

 }
 .hero p{
     font-size: 18px;
 } 
.hero-text > h1 {
    font-size: 48px;
    margin-bottom: 16px;
}
.hero-content {
    display: flex;
    flex: 1;
    align-items: center;
}

 .logo-img {
     width: 48px;
     height: 48px;
 }
 .logo {
     display: flex;
     flex: 1;
     align-items: center;
     gap: 16px;
 }
.logo > h1 {
    margin-bottom: 10px;
    font-size: 24px;
}
.hero-btn {
    color: white;
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 24px;
    font-weight: bold;
    border: none;
    padding: 12px 32px;
}

 ul {
     list-style-type: none;
     padding: 0;
     display: flex;
     flex: 1;
     justify-content: flex-end;
     gap: 16px;
 }

 a {
     text-decoration: none;
     color: white;
 }

.info {
    height: 100vh;
}

.info > h1 {
    font-size: 48px;
    color: #1F2937;
    font-family: 'Montserrat';
    text-align: center;
    margin: 48px 0px;
    
}
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
}

.card-img {
    border: solid 5px;
    width: 48px;
    height: 48px;
    border-color: royalblue;
    height: 150px;
    width: 150px;
    border-radius: 16px;
    background: no-repeat center;
    background-size: cover;
}

.card-group{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 90px;
}

.card p {
    text-align: center;
    color: #484f5c;
}

.tenpura {
    background-image: url('images/tenpura.jpeg');
}
.bubur {
    background-image: url('images/bubur_singkawang.jpeg')
}

.croffle {
    background-image: url('images/croffle.jpeg')
}